<table class="table table-bordered">
<thead>
<% if @user %>
  
   <%  @user.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @user.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>

<% end %>

<% if @users %>

    <% example_user = User.first %>

    <% example_user.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <% user.attributes.each do |user_attribute| %>
        <td> <%= "#{user_attribute[1]}" %>
      <% end %>
    </tr>
  <% end %>
<% end %>


<% if @pc_austattung %>
  
   <%  @pc_austattung.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @pc_austattung.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>

<% end %>

<% if @pc_austattungs %>
    
    <% example_pc_austattung = PcAustattung.first %>

    <% example_pc_austattung.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @pc_austattungs.each do |pc_austattung| %>
    <tr>
      <% pc_austattung.attributes.each do |pc_austattung_attribute| %>
        <td> <%= "#{pc_austattung_attribute[1]}" %>
      <% end %>
    </tr>
  <% end %>
<% end %>

<% if @ausgabe %>
  
   <%  @ausgabe.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @ausgabe.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>

<% end %>

<% if @ausgabes %>

    <% example_ausgabe = Ausgabe.first %>

    <% example_ausgabe.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @ausgabes.each do |ausgabe| %>
    <tr>
      <% ausgabe.attributes.each do |ausgabe_attribute| %>
        <td> <%= "#{ausgabe_attribute[1]}" %>
      <% end %>
    </tr>
  <% end %>
<% end %>

<% if @mobilfunkgeraet %>
  
   <%  @mobilfunkgeraet.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @mobilfunkgeraet.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>
<% end %>

<% if @mobilfunkgeraets %>

    <% example_mobile = Mobilfunkgeraet.first %>

    <% example_mobile.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @mobilfunkgeraets.each do |mobile| %>
    <tr>
      <% mobile.attributes.each do |mobile_attribute| %>
        <td> <%= "#{mobile_attribute[1]}" %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% end %>
</tbody>
</table>

