<!-- ################ User ################# -->

<% if @user %>
	
   <table class="table table-bordered">
   <thead>  
   <%  @user.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @user.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>
   </tbody>
   </table>
<% end %>

<% if @users %>
  
  <table class="table table-bordered">
  <thead>
  <% example_user = User.first %>

    <% example_user.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <% user.attributes.each do |user_attribute| %>
        <td> <%= link_to "#{user_attribute[1]}", user %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>

<!-- ################ PC-Austattung ################# -->

<% if @pc_austattung %>
  
  <table class="table table-bordered">
  <thead>
   <%  @pc_austattung.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @pc_austattung.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>
   </tbody>
   </table>
<% end %>

<% if @pc_austattungs %>
    
  <table class="table table-bordered">
  <thead>
    <% example_pc_austattung = PcAustattung.first %>

    <% example_pc_austattung.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @pc_austattungs.each do |pc_austattung| %>
    <tr>
      <% pc_austattung.attributes.each do |pc_austattung_attribute| %>
        <td> <%= link_to "#{pc_austattung_attribute[1]}", pc_austattung %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>

<!-- ################ Mobilfunkgeraet ################# -->

<% if @mobilfunkgeraet %>
  
  <table class="table table-bordered">
  <thead>
   <%  @mobilfunkgeraet.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @mobilfunkgeraet.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>
   </tbody>
   </table>
<% end %>

<% if @mobilfunkgeraets %>
  <table class="table table-bordered">
  <thead>
    <% example_mobile = Mobilfunkgeraet.first %>

    <% example_mobile.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @mobilfunkgeraets.each do |mobile| %>
    <tr>
      <% mobile.attributes.each do |mobile_attribute| %>
        <td> <%= link_to "#{mobile_attribute[1]}" , mobile %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>

<!-- ################ Ausgabe ################# -->

<% if @ausgabe %>
  
  <table class="table table-bordered">
  <thead>
   <%  @ausgabe.attributes.each do |attribute| %>
  	 <th> <%= "#{attribute[0]}" %> </th>
   <%  end %>
   </thead>

   <tbody>
   <%  @ausgabe.attributes.each do |attribute| %>
     <td><%= "#{attribute[1]} " %> </td>
   <% end %>
   </tbody>
   </table>
<% end %>

<% if @ausgabes %>
  
  <table class="table table-bordered">
  <thead>
    <% example_ausgabe = Ausgabe.first %>

    <% example_ausgabe.attributes.each do |attribute| %>
      <th> <%= "#{attribute[0]}" %> </th>
    <% end %>
  </thead>
  <tbody>
  <% @ausgabes.each do |ausgabe| %>
    <tr>
      <% ausgabe.attributes.each do |ausgabe_attribute| %>
        <td> <%= link_to "#{ausgabe_attribute[1]}", ausgabe %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>



